
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    margin: 0;
    font-family: quicksand;
    background-image:linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)), url(erti2.jpg) ;
}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.menu li{
    display: inline;
}
.menu a{
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    font-family: "patua one";
    color: white;
    background: chocolate;
    margin-left: 15px;
    border-radius: 0px 0px 25px 25px;
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: #fee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000;
}
.menu ul{
    display: flex;
    align-items: center;
    
}
.menu ul li{
    text-decoration: none;
    letter-spacing: 5px;
    padding: 10px 12px;
    font-size: 20px;
}
.menu ul li:hover{
    border-bottom: 7px solid #000 ;
    transition: 0.4s;
}

.menu ul li{
    list-style: none;
}
.tours{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image:linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(gelateria-bell-italia.jpg);
    background-position: center;
    background-size: cover;
   
}
.heading{
    color: #fee;
    font-size: 35px;
    width: 30%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;



}
.heading h3{
    font-size: 25px;
    padding: 12px 15px;
    
}
.heading a{
    text-decoration: none;
    font-weight:bold;
    border-radius: 20px;
    padding: 14px 50px;
    border: 5px solid rgb(255, 255, 255);

}
.heading a:hover{
    background-color: #fee;
    transition: 0.6s;
}
.places{
    color: rgb(245, 234, 234);

}

.places h1{
    font-family: Arizonia;
    font-size: 70px;
    letter-spacing: 2px;
    color: white;
    border-radius: 25px;
    padding: 15px 20px;
    
    background-color: transparent;
    
     text-align: center;
}
.places h1:hover{
    background-color: rgb(1, 1, 1);
    transition: 0.4s;
}
.places img:hover{
    border: solid rgb(255, 255, 255) 8px;
    transition: 0.4s;

}
.tours1{
    background-image:linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)), url(img12.jpg);
    background-position:cover;
   
    
}
.paragraf h2{
    color: #fee;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.paragraf h3{
    color: #fee;
    text-align: center;
    font-size: 35px;
    
}
.paragraf p{
    color: rgb(255, 241, 241);
    
    padding: 10px 12px;
    font-size: 25px;
    
    

}
.paragraf{
    width: 850px;
    padding: 10px 12px;
    background: trasparent;
    margin: auto;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 12px;
    backdrop-filter: blur(25px);
    
}